<ion-header class="fondo" [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"><br></ion-col>
      <ion-col size="10">
        <br><br>
        <img src="assets/img/Asistencia QR.png">
        <br><br><br>
        <ion-button routerLink="/login" expand="block" shape="round">
          login
        </ion-button>
        <br>
        <ion-button routerLink="/register" expand="block" shape="round">
          registrarse
        </ion-button>
      </ion-col>
      <ion-col size="1"><br></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<div class="fondo">
<br><br><br>
</div>