ion-content{
    --ion-background-color: #ffde59;
}

ion-toolbar {
    --background: #004AAD;
}

ion-button {
    --background: #004AAD;
}

ion-item {
    --background: #fff;
    --color: #000;
    --border-radius: 20px;
}


ion-list{
    background-color: #ffde59;
}

.fondo{
    background-color: #004AAD;
}

.ios ion-item {
    --min-height: 20px;
}
