<ion-header class="fondo" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"><br></ion-col>
      <ion-col size="10">
        <br>
        <ion-list>
          
        </ion-list>
        <br>
        <ion-button routerLink="/lector" expand="block" shape="round">
          Registrar
        </ion-button>
      </ion-col>
      <ion-col size="1"><br></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<div class="fondo">
<br><br><br>
</div>
 