ion-content{
    --ion-background-color: #ffde59;
}

ion-toolbar {
    --background: #004AAD;
}

ion-button {
    --background: #004AAD;
}

ion-item {
    --background: #fff;
    --color: #000;
    --border-radius: 20px;
}


ion-list{
    background-color: #ffde59;
}

ion-card {
    --background: #004AAD;
    --color: #fff;
}

.texto {
    justify-content: center;
}

.foto{
    background-color: #ffde59;
    border-radius: 50%;
}

.fondo{
    background-color: #004AAD;
}
