<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"><br></ion-col>
      <ion-col size="10">
        <form>
          <ion-item>
            <br>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="newAsignatura.nombre"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Tipo de Asignatura:</ion-label>
            <ion-input type="text" name="desc" [(ngModel)]="newAsignatura.tipo"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Horas semanales:</ion-label>
            <ion-input type="text" name="precio" [(ngModel)]="newAsignatura.horas"></ion-input>
          </ion-item>
          <br>
          <ion-row>
            <ion-col>
              <ion-button (click)="crearAsignatura()" expand="block" fill="clear" shape="round">
                Agregar Asignatura
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
      <ion-col size="1"><br></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<div class="fondo">
  <br><br><br>
</div>