<ion-header class="fondo" [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button [icon]="'arrow-back'"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" name="txtNombre" [(ngModel)]="newEstudiante.nombre" placeholder="Ingrese un nombre..." required></ion-input>
    </ion-item>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Rut:</ion-label>
      <ion-input type="text" name="txtRut" [(ngModel)]="newEstudiante.rut" placeholder="Ingrese el rut..." required></ion-input>
    </ion-item>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input type="email" name="txtEmail" [(ngModel)]="newEstudiante.correo" placeholder="Ingrese el correo..." required></ion-input>
    </ion-item>
    <br>
  </form>

  <ion-row>
    <ion-col>
      <ion-button (click)="agregarEstudiante()" expand="block" shape="round">Agregar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>


