ion-content{
    --ion-background-color: #ffde59;
}

ion-toolbar {
    --background: #004AAD;
}

ion-button {
    --background: #004AAD;
}
ion-item {
    --background: #ffde59;
    --color: #000000;
}
ion-list {
    background-color: #ffde59;
}