ion-content{
    --ion-background-color: #ffde59;
}

ion-toolbar {
    --background: #004AAD;
}

ion-button {
    --background: #004AAD;
}

.fondo{
    background-color: #004AAD;
}

ion-card {
    --background: #004AAD;
    --color: #fff;
}