ion-content{
    --ion-background-color: #ffde59;
}

ion-toolbar {
    --background: #004AAD;
}

ion-button {
    --background: #004AAD;
}

ion-list{
    background-color: #ffde59;
}

ion-item {
    --background: #ffde59;
    --color:#000000;
    --border-color: #000000;
    --border-width: 3px
}

.fondo{
    background-color: #004AAD;
}

