<ion-header class="fondo" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"><br></ion-col>
      <ion-col size="10">
        <img src="assets/img/Asistencia QR.png">  
        <br>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario: </ion-label>
            <ion-input type="email" placeholder="Ingrese su usuario..." 
                      name="email" [(ngModel)]="usuario.email"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">contraseña: </ion-label>
            <ion-input type="password" placeholder="Ingrese su contraseña..." 
                      name="pass" [(ngModel)]="usuario.pass"></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-button routerLink="/lector" expand="block" shape="round">
          ingresar
        </ion-button>
      </ion-col>
      <ion-col size="1"><br></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<div class="fondo">
<br><br><br>
</div>
 