<ion-header class="fondo" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"><br></ion-col>
      <ion-col size="10">
        <img src="assets/img/Asistencia QR.png">  
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <ion-input type="text" formControlName="correo"></ion-input>
          </ion-item>

          <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)">
            <div style="color: red" *ngIf="loginForm.get('correo')?.hasError('required')">
              *Correo es obligatorio
            </div>
            <div style="color: red" *ngIf="loginForm.get('correo')?.hasError('minlength')">
              *Correo debe tener mínimo 4 caracteres
            </div>
          </div><br>

          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" formControlName="contraseña"></ion-input>
          </ion-item>

          <div *ngIf="loginForm.get('contraseña')?.invalid && (loginForm.get('contraseña')?.dirty || loginForm.get('contraseña')?.touched)">
            <div style="color: red" *ngIf="loginForm.get('contraseña')?.hasError('required')">
              *Contraseña es obligatorio
            </div>
            <div style="color: red" *ngIf="loginForm.get('contraseña')?.hasError('minlength')">
              *Contraseña debe tener mínimo 8 caracteres
            </div>
          </div>
        </form>
        <br>
        <ion-button (click)="login()" expand="block" shape="round">Ingresar</ion-button>
      </ion-col>
      <ion-col size="1"><br></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="fondo">
<br><br><br>
</div>
 